---
import Layout from '../components/layout.astro'
import { AstroSeo } from '@astrolib/seo'

const projects = [
	{
		name: 'Swine & Wine',
		via: 'freelance',
		url: 'https://swine-wine.net',
		year: '2024',
		previewImg: '/projects/swine-wine-preview.png',
	},
	{
		name: 'OTT-JAKOB Gesamtspannsysteme',
		via: 'SPS-Marketing',
		url: 'https://www.ott-jakob.de/gesamtspannsysteme/',
		year: '2023',
		previewImg: '/projects/swine-wine-preview.png',
	},
]
---

<AstroSeo
  title="Benjamin Wagner :: Frontend Developer"
  description="Young Frontend Developer living in Linz, Austria."
  openGraph={{
    url: 'https://bnm.st/',
    title: 'Benjamin Wagner :: Frontend Developer',
    description: 'Young Frontend Developer living in Linz, Austria.',
    images: [
      {
        url: 'https://bnm.st/og.jpg',
        width: 800,
        height: 600,
        alt: 'Benjamin Wagner :: Frontend Developer',
        type: 'image/jpeg',
      },
    ],
    site_name: 'Benjamin Wagner :: Frontend Developer',
  }}
/>

<Layout>
	<main class="grid grid-cols-1 md:grid-cols-6 xl:grid-cols-12 pt-[50svh] pb-[15svh] gap-x-5 px-5 z-10 relative">
		<div class="xl:col-start-2 md:col-span-2 max-md:absolute max-md:top-5 max-md:left-5 max-md:w-full max-md:h-full">	
			<h1>Benjamin Wagner</h1>
		</div>
		<div class="md:col-start-3 xl:col-start-4 md:col-span-3 space-y-36">
			<div class="space-y-12 max-md:max-w-md">
				<h2>Frontend developer</h2>
				<p class="text-foreground-muted">
					Hi! I&apos;m Benjamin Wagner, a frontend developer based in Linz, Austria. 
					I am passionate about building intuitive and user-centric digital experiences.
					<br />
					<br />
					With expertise in PayloadCMS and Stripe, 
					I'd love to help bring your online vision to life. Let's connect!
				</p>
			</div>
			<div class="space-y-12 max-md:max-w-md">
				<h2>Projects</h2>
				<div class="space-y-4">
					{projects.map((project) => (
						<a href={project.url} target="_blank" rel="noopener noreferrer" class="project block relative group">
							{/* <span class="text-xs uppercase text-foreground-muted">{project.via}</span> */}
							<svg 
								xmlns="http://www.w3.org/2000/svg" 
								width="24" 
								height="24" 
								viewBox="0 0 24 24"
								class="absolute left-0 top-1/2 group-hover:-translate-y-1/2 translate-y-full opacity-0 -translate-x-8 group-hover:opacity-100 group-hover:translate-x-0 ease-cubic duration-300 transition-all"
							>
								<path fill="currentColor" d="M6 6v2h8.59L5 17.59L6.41 19L16 9.41V18h2V6z"/>
							</svg>
							<p class="group-hover:pl-8 ease-cubic duration-300 transition-all">
								<span>{project.name}</span>
								<span class="text-foreground-muted text-xs"> _ {project.year}</span>
							</p>
							{/* <div class="preview | aspect-video h-40 absolute pointer-events-none">
								<img src={project.previewImg} alt={project.name} class="w-full h-full object-cover" />
							</div> */}
						</a>
					))}
				</div>
			</div>
			<div class="space-y-12 max-md:max-w-md">
				<h2>Contact</h2>
				<p>	 
					<a class="text-foreground-muted hover:underline hover:text-white transition-colors duration-300" href="mailto:bnm.wag@gmail.com">bnm.wag@gmail.com</a>
					<br />
					<a class="text-foreground-muted hover:underline hover:text-white transition-colors duration-300" href="https://github.com/bnmwag">github.com/bnmwag</a>
				</p>
			</div>
		</div>
	</main>
	<div class="fixed max-xl:hidden inset-0 mix-blend-darken dark:mix-blend-lighten invert dark:invert-0"> 
		<canvas id="canvas" class="w-full"></canvas>
	</div>
</Layout>